.container {
  width: 100%;
  max-width: 1250px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.container .card {
  width: 350px;
  height: 550px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 83, 160, 0.671);
  overflow: hidden;
  margin: 7px;
  text-align: center;
  transition: all 0.25s;
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(255, 255, 255, 0.701);
}

.container .card img {
  width: 350px;
  height: 220px;
}

.container .card h4 {
  font-weight: 600;
  font-size: 21px;
}

.container .card p {
  padding: 0 1rem;
  font-size: 14px;
  font-weight: 300;
}

.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #88ceef;
}

.container-cards {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  width: 100%;
  background-color: rgb(0, 0, 0);
  min-height: 1000px;
}

.sec-img {
  overflow: hidden;
  width: 100%;
  height: 550px;
  margin-bottom: 30px;
}

.sec-img img {
  width: 100%;
  z-index: -1;
}

h1 {
  position: absolute;
  left: 40%;
  bottom: 225px;
  font-size: 100px;
  text-shadow: 5px 5px 12px black;
}
